# edit this file with your variables and save it as .env

# dev port
PORT=3000

# get your trello api key: https://trello.com/app-key
# used by creations scripts in /bin
TRELLO_API_KEY=xxxx

# generate a token: https://trello.com/app-key
# used by creations scripts in /bin
TRELLO_TOKEN=xxx

### Project specific keys ###

# a specific board
# used by creations scripts in /bin
BOARD_ID=xxx

# Specific lists in said specific board
# used by creations scripts in /bin
LIST_ID_TODO=xxxx
LIST_ID_IN_PROGRESS=xxxx
LIST_ID_DONE=xxxx

# a webhook
# returned by a creation script in /bin
WEBHOOK_ID=xxxx
